<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857918587378-aes0cqnich1aqp0u4q27kjmr7j1don88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857918587378-aes0cqnich1aqp0u4q27kjmr7j1don88</string>
	<key>API_KEY</key>
	<string>AIzaSyA2QbP5fu1e2P5YyhSi2b98wInxSQuiQtY</string>
	<key>GCM_SENDER_ID</key>
	<string>857918587378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.Chat.danbin</string>
	<key>PROJECT_ID</key>
	<string>chat-cbc6c</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-cbc6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:857918587378:ios:a61efb9631632663ceab6b</string>
	<key>DATABASE_URL</key>
	<string>https://chat-cbc6c.firebaseio.com</string>
</dict>
</plist>
